<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    <title>Linen & Stone</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS v5.3.8 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" href="../CSS/styles.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Linen & Stone</a> <!-- Aqui me redirige al index -->
                <button class="navbar-toggler" id="collapsable" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Hoteles
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="hoteles.html">Consultar hoteles</a></li>
                            </ul>
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Sedes
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="sedes.html">Consultar sedes</a></li>
                            </ul>
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Habitaciones
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="habitaciones.html">Consultar habitaciones</a></li>
                            </ul>
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Clientes
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="clientes.html">Consultar clientes</a></li>
                            </ul>
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Reservaciones
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="reservaciones.html">Consultar reservaciones</a></li>
                            </ul>
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Pagos
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="pagos.html">Consultar pagos</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>

        <div class="container-fluid">
            <div class="row">
                <div class="col-6 d-flex align-items-center justify-content-center">
                    <img src="../Resources/Img/hotel.jpg" alt="Habitacion" class="img-fluid rounded">
                </div>
                <div class="col-6">
                    <h1>Bienvenido a Linen & Stone</h1>
                    <p id="parrafoHero">Tu destino para experiencias de hospedaje excepcionales.

                        En Linen & Stone transformamos cada estadía en una experiencia de tranquilidad,
                        elegancia y confort. Nuestra cadena hotelera combina arquitectura moderna,
                        hospitalidad premium y espacios cuidadosamente diseñados para ofrecer
                        descanso auténtico en cada destino.

                        Más que habitaciones, creamos ambientes donde el lujo se siente natural,
                        el silencio se disfruta y cada detalle está pensado para desconectarse del ruido exterior.

                        Desde la comodidad de nuestras camas de lino hasta la serenidad de nuestros espacios de piedra,
                        cada elemento de Linen & Stone está diseñado para brindar una experiencia de hospedaje única.
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid p-0 mt-2 mb-2">
            <img src="../Resources/Img/piscina.jpg" alt="Piscina" class="img-fluid w-100 h-100 rounded">
        </div>

        <div class="container">
            <div class="row" id="caracteristicas">
                <div class="col-4">
                    <h2 class="text-white">Hospedaje de lujo</h2>
                    <p class="text-white" id="pHospedajeLujo">En Linen & Stone, cada habitación es un refugio de lujo diseñado para brindar una experiencia de
                        hospedaje inigualable. Desde nuestras camas de lino hasta los detalles cuidadosamente
                        seleccionados, cada espacio está pensado para ofrecer comodidad y elegancia en cada estadía.</p>
                </div>
                <div class="col-4">
                    <h2 class="text-white">Hospitalidad premium</h2>
                    <p class="text-white" id="pHospitalidadPremium">Nuestra hospitalidad premium se refleja en cada interacción. En Linen & Stone, nos esforzamos por
                        superar las expectativas de nuestros huéspedes, brindando un servicio personalizado y atento que
                        hace que cada estadía sea memorable y única.</p>
                </div>
                <div class="col-4">
                    <h2 class="text-white">Experiencias únicas</h2>
                    <p class="text-white" id="pExperienciasUnicas">En Linen & Stone, no solo ofrecemos hospedaje, sino experiencias únicas que transforman cada
                        estadía en un recuerdo inolvidable. Desde la serenidad de nuestros espacios de piedra hasta la
                        comodidad de nuestras camas de lino, cada detalle está diseñado para brindar momentos
                        excepcionales a nuestros huéspedes.</p>
                </div>
            </div>
        </div>

        <div class="container mb-3">
            <div class="row" id="misionVision">
                <div class="col-6">
                    <h2 class="text-white">Misión</h2>
                    <p id="pmision" class="text-white">En Linen & Stone, nuestra misión es proporcionar experiencias de hospedaje excepcionales que
                        combinen lujo, comodidad y hospitalidad premium. Nos comprometemos a superar las expectativas de
                        nuestros huéspedes y a crear momentos inolvidables en cada uno de nuestros hoteles.</p>
                </div>
                <div class="col-6">
                    <h2 class="text-white">Visión</h2>
                    <p id="pvision" class="text-white">Nuestra visión en Linen & Stone es ser reconocidos como la cadena hotelera líder en ofrecer
                        experiencias de hospedaje únicas y memorables. Nos esforzamos por ser el destino preferido para
                        aquellos que buscan lujo, comodidad y hospitalidad premium en cada estadía.</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <p>&copy; 2026 Linen & Stone. Todos los derechos reservados.</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p>Proyecto de Juan Diego Barrantes Loria C31015</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JavaScript Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>